doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      ul
        each item in link 
            li 
                a(href=`${item[1]}`) #{item[0]}
    block content
