doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      ul
<<<<<<< HEAD
        each item in link 
            li 
                a(href=`${item[0]}`) #{item[1]}
=======
        each item in array
          li #{item}
>>>>>>> 995380c05c287eda11184b6f65306c368a337acb
    block content
